# Compiler files
cache/
out/

# Ignores development broadcast logs
broadcast

# Docs
docs/

# Dotenv file
.env

# vscode
.vscode

# yarn
node_modules/
.editorconfig
.gitattributes
.pnp.cjs
package-lock.json
yarn.lock
.pnp.loader.mjs
install-state.gz
.yarn